* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

main {
    position: relative;
}

section {
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

#canvas-elem::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('/background-l.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
}

#section-1 {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;

        .nav-elem {
            max-width: 10rem;
            min-height: 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .nav-icon {
            width: 1.5rem;
            height: 1.5rem;
        }

        .nav-elem:nth-child(2) .nav-icon {
            color: red
        }

        svg {
            max-width: 7rem;
            width: 100%;
            height: 100%;
        }
    }

    .middle {
        display: flex;
        flex-grow: 1;

        .left,
        .right {
            width: 50%;
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-block: 5rem;
        }

        h1 {
            font-size: 6rem;
            line-height: 5rem;
            text-align: right;
        }
    }

    .bottom {
        display: flex;
        flex-grow: 1;

        .left,
        .right {
            width: 50%;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-block: 5rem;

            p {
                font-size: 1.7rem;
                text-align: left;
            }
        }


    }

    .first-line {
        width: 35rem;
        height: 1px;
        background-color: rgba(255, 0, 0, 0.375);
        position: absolute;
        transform: rotate(45deg) translate(-10rem, -20rem);
    }

    .second-line {
        width: 10rem;
        height: 1px;
        background-color: rgba(255, 0, 0, 0.375);
        position: absolute;
        transform: rotate(-45deg);
        top: 20%;
        right: 25%;
    }
}

#section-2 {
    .titles {
        display: flex;
        flex-direction: column;
        padding-left: 15rem;
        padding-block: 7rem;

        .title {
            display: flex;
            gap: 3rem;
            opacity: 0.3;
            padding-block: 1rem;
            transition: all 0.3s linear;

            h1 {
                font-size: 4rem;
                font-weight: 100;
                line-height: 1;
            }

            small {
                margin-top: 0.3rem;
            }
        }

        .title:hover {
            opacity: 1;
        }
    }
}

main:has(#section-2 .title:hover) #canvas-elem::after {
    opacity: 0;
}

.images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s linear;
    }
}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) #tomorrowland {
    opacity: 1;
    background-color: rgb(9, 9, 44);
}

main:has(#section-2 .title[img-title="navy-pier"]:hover) #navy-pier {
    opacity: 1;
    background-color: rgb(9, 9, 44);
}

main:has(#section-2 .title[img-title="msi-chicago"]:hover) #msi-chicago {
    opacity: 1;
    background-color: rgb(9, 9, 44);
}

main:has(#section-2 .title[img-title="phone"]:hover) #phone {
    opacity: 1;
    background-color: rgb(9, 9, 44);
}

main:has(#section-2 .title[img-title="kikk"]:hover) #kikk {
    opacity: 1;
    background-color: rgb(9, 9, 44);
}

main:has(#section-2 .title[img-title="kennedy"]:hover) #kennedy {
    opacity: 1;
    background-color: rgb(0, 0, 255);
}

main:has(#section-2 .title[img-title="opera"]:hover) #opera {
    opacity: 1;
    background-color: red;
}

#section-3{
    padding-block: 10rem;
    padding-inline: 15rem;
    position: relative;
    z-index: 0;
    isolation: isolate;
    min-height: initial;

    .top,.bottom{
        display: flex;
        width: 100%;
        gap: 10rem;
    }
    .left,.right{
        width: 50%;
    }
    .bottom .right{
        display: flex;

        p{
            opacity: 0.5;
            font-weight: 200;
            position: relative;
            z-index: 4;
        }
    }

    .top .left{
        text-align: right;
        position: relative;
        isolation: isolate;

        h3{
            font-size: 2rem;
            position: relative;
        }
    }
}

#section-4{
    min-height: 50vh;
    .top,.bottom{
        display: flex;
        width: 100%;
        gap: 10rem;
    }
    .left,.right{
        width: 50%;
    }
    .bottom .right{
        display: flex;

        p{
            opacity: 0.5;
            font-weight: 200;
            position: relative;
            z-index: 4;
        }
    }

    .top .left{
        text-align: right;
        position: relative;
        isolation: isolate;

        h3{
            font-size: 2rem;
            position: relative;
        }
    }
}