* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    background-color: #000;
}

main {
    position: relative;
}

section {
    min-height: 100vh;
    border: 1px solid #ffffff;
    position: relative;
    z-index: 2;
}
